
.home-grid{
    padding-top:30px!important;
    height:50vh!important;
}


.home-grid-row{
    height:100vh!important;
}

.home-grid-sports{
    height:70vh!important;
}

.home-grid-main{
    height:70vh!important;
}

.home-grid-ads{

}