

.layout-container{
    background-color: #f7f9fc!important;
    min-height: 100vh;
    min-width:100%;
    padding-left:20px!important;
    padding-right:20px!important;
    margin-left:0;
    margin-right:0;
} 